.wrapper {
    background-color: white;

}

body {
    background-color: #f0f5f5;
    margin-top: 30px;
}

h1 {

    border-bottom: 1px solid #f0f5f5;
    text-align: center;
}

@media(max-width:576px) {
    .first {
        display: none;
    }
}

@media(min-width:577px) and (max-width:1024px) {
    body {
        font-size: 0px;
    }
    .second {
        display: none;
    }
    .first,
    .third {
        width: 50%;
        display: inline-block;
    }
    p {
        font-size: 15px;
        color: grey;
    }
}
