.rgb-app {
    display: flex;
}

.vertical_component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background-color: #0059b3;
    margin: 15px;
}

.horizontal_components {
    flex-grow: 1;
}

.vertical_component_header,
.vertical_component_footer,
.horizontal_component_header {
    display: flex;
    justify-content: center;
}

p {
    margin-top: 0px;
    margin: 2px;
    color: white;
    background-color: lightgrey;
    font-size: 20px;
    opacity: 0.5;
}

p:hover {
    background-color: white;
    border: 1px solid blue;
    opacity: 0.5;
}

i {
    opacity: 0.5;
}

.arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.horizontal_component_child1,
.horizontal_component_child2,
.horizontal_component_child3 {
    margin: 15px;
}
