.githublogo {

    background-color: white;
}


ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ol {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.text {

    color: #333;
}

.font10 {
    font-size: 10px;
}

.signup {
    border: 1px solid white;
}


form {
    background-color: grey;
}

.grey {
    font-size: 10px;
    color: grey;
}

.third {
    text-align: center;
    padding: 30px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: #f2f2f2;
}

.img4r {

    padding: 15px;
    width: 100px;
}

.border {
    padding: 15px;
    border: 1px solid grey;

}

.center {
    padding-top: 30px;
    text-align: center;
}

span {
    border: 2px solid white;
    background-color: #ccf5ff;
    margin: 3px;
}

h6 {
    padding-top: 50px;
}

.hash {
    background-color: #ccf5ff;
    text-align: center;
    border: 1px solid #ccf5ff;
    width: 20px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}

.star1 {

    border: 1px solid grey;
    border-radius: 5px;
    background-color: #e6e6e6;

}

.star {
    width: 20px;
}

.paddingtop {
    padding-top: 50px;
}

.borderbot {
    border-bottom: 1px solid lightgrey;
    padding-top: 10px;
}

.img5r {
    width: 40px;
}

.star1 {
    float: right;
    padding-left: 20px;
}

.loadmore {
    margin-top: 20px;
    border: 1px solid lightgrey;
    text-align: center;
}

.pad0 {
    padding-bottom: 0px;
    padding-top: 0px;
}

.msignup {
    color: white;
    border: 1px solid white;
    font-size: 10px;
    text-align: center;
    padding-top: 8px;
}

.background {
    background-color: black;
    padding-top: 20px;
    padding: 10px;
}

.paddingr2 {
    padding-top: 20px;
}

.mexplore {
    text-align: center;
    color: black;
}

.equiv :hover {

    color: white;
    font-size: 30px;
}

.mobmargin {
    margin-bottom: 30px;
}
