.githublogo {
    filter: invert(100%);
}

.container {
    margin-top: 30px;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;

}

.font10 {
    font-size: 10px;
}

.header {
    background-color: black;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.signup {
    border: 1px solid white;
}

.white {
    color: white;
}

.grey {
    color: grey;
}

.third {
    text-align: center;
    padding: 50px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    background-color: #f2f2f2;
    margin-bottom: 30px;
}

.center {
    text-align: center;
}

.img4r {
    width: 50%;
}

.borderbot {
    padding: 5px;
    border-bottom: 1px solid grey;
}

.hash {
    border: 1px solid #e6ffff;
    padding: 5px;
    background-color: #e6ffff;
    width: 30px;
    height: 50px;
    text-align: center;

}

.img5r {
    width: 60px;
}

.loadmore {
    border: 1px solid grey;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}

.margintop {
    margin-top: 30px;
}

.mobilemargin {
    margin-bottom: 30px;
}

.mexplore {
    color: black;
    text-align: center;
}

.equiv {
    font-size: 30px;
}

.msignup {
    margin-top: 5px;
    color: white;
    border: 1px solid white;
    padding: 8px;
    font-size: 10px;
}

.pad5 {
    padding: 3px;
    background-color: lightgrey;
}
