h3 {
    color: green;
    border-bottom: 1px solid grey;
    text-transform: capitalize;
}

h1 {
    text-align: center;
}

.loading,
.text {
    display: flex;
    justify-content: space-around;
}

h3,
p {
    margin: 10px;
}

.main-div {
    background-color: white;
    margin: 20px;
    box-shadow: 2px 2px 2px 0px lightgrey;
}

.comments {
    padding: 5px;
    background-color: lightgreen;
    display: inline-block;
}

.select-user {
    text-align: center;
}
