.calculator_body {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
}

#result_bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    height: 100px;
    color: white;
    font-size: 50px;
}

.calculator_keypad,
.keys {
    display: flex;
    justify-content: space-around;
}

.keys {
    flex-direction: column;
    flex-grow: 1;
}

p {
    border: 1px solid grey;
    border-radius: 5px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
    font-size: 30px;
    margin: 5px;
    text-align: center;
    /*width: 100%;*/
}

.key_in_3rd_column {
    padding-right: 10px;
    padding-left: 10px;
}

.equal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0086b3;
    color: white;
    flex-grow: 1;
}

.AC {
    background-color: #cc1100;
    color: white;
}

.operator {
    color: #0086b3;
}

.number:hover {
    background-color: #b3fff0;
    border: 1px solid #ccefff;
}
